@model FuncionarioModel
@using ProjetoPastelaria.Enum

@{
    ViewData["Title"] = "Cadastro-Funcionarios";
}

<div class="text-center">

    <h1> Cadastrar novo Funcionario</h1>

</div>

<form asp-controller="Funcionarios" asp-action="Criar" method="post">
    <div class="form-group">
        <label for="nome">Nome Completo</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="digite seu Nome">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="form-group">
        <label for="dataNasc">Data Nascimento</label>
        <input type="date" asp-for="DataNasc" class="form-control" placeholder="digite sua Data nascimento">
        @Html.ValidationMessageFor(x => x.DataNasc)
    </div>
    <div class="form-group">
        <label for="telFixo">Tel Fixo</label>
        <input type="tel" asp-for="TelFixo" class="form-control" placeholder="11 1234567825">
        @Html.ValidationMessageFor(x => x.TelFixo)
    </div>
    <div class="form-group">
        <label for="celular">Celular</label>
        <input type="tel" asp-for="Celular" class="form-control" placeholder="11 1234567825r">
        @Html.ValidationMessageFor(x => x.Celular)
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="digite seu Email">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="form-group">
        <label for="perfil">Perfil</label>
        <select class="form-control" name="Perfil">
            <option value="0">Selecione</option>
            <option value="@PerfilEnum.Admin">Admin</option>
            <option value="@PerfilEnum.padrao">Padrao</option>
        </select>
    </div>
    <div class="form-group">
        <label for="endereco">Endereço</label>
        <input type="text" asp-for="Endereco" class="form-control" placeholder="digite o endereço">
        @Html.ValidationMessageFor(x => x.Endereco)
    </div>
    <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" asp-for="Senha" class="form-control">
        @Html.ValidationMessageFor(x => x.Senha)
    </div>

    <a role="button" class="btn btn-secondary" asp-controller="Funcionarios" asp-action="Index">Voltar</a>
    <button type="submit" class="btn btn-primary">Adicionar</button>
</form>
