@model List<FuncionarioModel>
@{
    ViewData["Title"] = "Lista-Funcionarios";
}

<div class="text-center">
    @*comando utilizado pra colocar o botao criar no canto esquerdo*@
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-primary " role="button" asp-controller="Funcionarios" asp-action="Criar">Cadastrar</a>
    </div>
    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
             @TempData["MensagemErro"]   
        </div>
    }
    
    <br />
    <h1> Listagem-Funcionarios</h1>
    <br />
    <table class="table" id="table-contatos">
        <thead>
            <tr>
                @*<th scope="col">#</th>*@
                <th scope="col">Nome</th>
                <th scope="col">Data Nasc</th>
                <th scope="col">Tel Fixo</th>
                <th scope="col">Celular</th>
                <th scope="col">Email</th>
                <th scope="col">Endereco</th>
                <th scope="col">Perfil</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {//verifica se o modelo Listade funcionario nao e null e contem elementos  
                foreach (FuncionarioModel funcionarios in Model)
                {
                    <tr>
                        @*<td scope="row">@funcionarios.IdFuncionario</td>*@
                        <td> @funcionarios.Nome</td>
                        <td>@funcionarios.DataNasc</td>
                        <td>@funcionarios.TelFixo</td>
                        <td>@funcionarios.Celular</td>
                        <td>@funcionarios.Email</td>
                        <td>@funcionarios.Endereco</td>
                        <td>@funcionarios.Perfil</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-outline-secondary" asp-route-id="@funcionarios.IdFuncionario" asp-controller="Funcionarios" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-outline-danger" asp-route-id="@funcionarios.IdFuncionario" asp-controller="Funcionarios" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
