@model List<TarefasModel>
@{
    ViewData["Title"] = "Lista-Tarefas";
}

<div class="text-center">
    @if (ViewBag.PerfilUsuarioLogado != null)
    {
        var perfilUsuario = ViewBag.PerfilUsuarioLogado.ToString();

        if (perfilUsuario == ProjetoPastelaria.Enum.PerfilEnum.Admin.ToString())
        {
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-primary" role="button" asp-controller="Tarefas" asp-action="Criar">Cadastrar</a>
            </div>}
    }
    <br />
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />
    <h1> Listagem-Tarefas</h1>
    <br />
    <table class="table" id="table-tarefas">
        <thead>
            <tr>
                <th scope="col">Funcionário</th>
                <th scope="col">Descrição</th>
                <th scope="col">Data de Criação</th>
                <th scope="col">Prazo de Conclusão</th>              
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (TarefasModel tarefas in Model)
                {
                    <tr>
                        <td scope="row">@ViewBag.FuncionarioDict[tarefas.IdFuncionario]</td> <!-- Mostra o nome do funcionário -->
                        <td scope="row">@tarefas.Descricao</td>
                        <td scope="row">@tarefas.DataCriacao.ToString("dd/MM/yyyy")</td> <!-- Formata a data -->
                        <td scope="row">@tarefas.PrazoConclusao?.ToString("dd/MM/yyyy")</td> <!-- Formata a data com Nullable -->                     
                        <td>
                            <div class="btn-group" role="group">
                                @if (ViewBag.PerfilUsuarioLogado != null)
                                {
                                    var perfilUsuario = ViewBag.PerfilUsuarioLogado.ToString();

                                    if (perfilUsuario == ProjetoPastelaria.Enum.PerfilEnum.Admin.ToString())
                                    {
                                        <a role="button" class="btn btn-secondary" asp-route-id="@tarefas.IdTarefa" asp-controller="Tarefas" asp-action="Editar">Editar</a>
                                        <a role="button" class="btn btn-danger" asp-route-id="@tarefas.IdTarefa" asp-controller="Tarefas" asp-action="ApagarConfirmacao">Apagar</a>
                                    }
                                    else if (perfilUsuario == ProjetoPastelaria.Enum.PerfilEnum.padrao.ToString())
                                    {
                                        @using (Html.BeginForm("Concluir", "Tarefas", FormMethod.Post))
                                        {
                                            @Html.Hidden("id", tarefas.IdTarefa)
                                            <button type="submit" class="btn btn-success">Concluir</button>
                                        }
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="add"><td valign="top" colspan="6">Nenhuma Tarefa Encontrada</td></tr>
            }
        </tbody>
    </table>

</div>
